:root { 
--gray_600:#79766f; 
--black_900_4c:#0000004c; 
--black_900_01:#001315; 
--deep_orange_A100:#ffa87a; 
--black_900_b2:#000000b2; 
--black_900:#000000; 
--orange_A700:#ff5900; 
--gray_800:#4c4a46; 
--blue_gray_900:#383632; 
--white_A700:#ffffff; 
--gray_300:#dedbd3; 
--gray_50:#fff9f6; 
}